<div><%= flash[:notice] %></div>

  <!--<div class="row">-->
  <!--  <div class="col-lg-1"></div>-->
  <!--  <div class="col-lg-3">-->
  <div class="container px-5 px-sm-0">
   <div class="row">
    <div class="col-md-12">
    <h1>welcome to <i class="fas fa-book"></i>Bookers!!</h1>
    <h4>
    <p>In <i class="fas fa-book"></i>Bookers</p>
    <p>you can share and exchange your opinions , inpressions , and emotions</p>
    <p>about various books!</p>
    </h4>


    <p>
     <%= link_to "Log in", user_session_path, class: "btn btn-primary" %>
    </p>
    <p>
     <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
    </p>
    </div>
   </div>
 </div>

