<h1>welcome to Bookers!!</h1>
<h4>
  <p>In Bookers</p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
</h4>

<%= form_with model: @user do |f| %>
    <%= f.submit "Log in" %>
    <%= f.submit "Sign in" %>
  <% end %>

<li>
     <%= link_to "ログイン", new_user_session_path %>
  </li>